<header>
<h1>
<center>{{screamIt pageTitle}}</center>
</h1>
<center>
  <style>
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
</style>
<p>
  <a href="/home">Home</a>
</p>
<p>
  <a href="/addcategory">Add Category</a>
</p>
<p>
  <a href="/addquantity">Add Quantity</a>
</p>
<p>
  <a href="/removequantity">Remove Quantity</a>
</p>
</center>
</header>
