<header>
<h1>
{{screamIt pageTitle}}
</h1>
<p>
  <a href="/home">Home</a>
</p>
<p>
  <a href="/addcategory">Add Category</a>
</p>
<p>
  <a href="/addquantity">Add Quantity</a>
</p>
<p>
  <a href="/removequantity">Remove Quantity</a>
</p>
</header>
