<header>
<h1>
<center>{{screamIt pageTitle}}</center>
</h1>
<center>
<p>
  <a href="/home">Home</a>
</p>
<p>
  <a href="/addcategory">Add Category</a>
</p>
<p>
  <a href="/addquantity">Add Quantity</a>
</p>
<p>
  <a href="/removequantity">Remove Quantity</a>
</p>
</center>
</header>
