<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some website</title>
    <h1><center>Hellew</center></h1>
    <style>
  a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
  }

  a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
  }

  a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
  }

  a:active {
      color: blue;
      background-color: transparent;
      text-decoration: underline;
  }
  a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }

  a:hover, a:active {
      background-color: red;
  }
    </style>
    <style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    font-size: 16px;
    }
body {
    background-color: #93B874;
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 900px;
}
</style>
  </head>
  <body>
  <form action="http://127.0.0.1:3000/" method="POST">
    <center>
   <div class="container">
     <label for="uname"><b>Username</b></label><br><br>
     <input type="text" placeholder="Enter Username" name="username" autocomplete="off"><br><br>
     <label for="psw"><b>Password</b></label><br><br>
     <input type="password" placeholder="Enter Password" name="password" autocomplete="off"><br><br>

     <button type="submit" class="button">Login</button><br>

   </div>

   <div class="container"><br>
     <button type="button" class="button">Cancel</button><br>
     <span class="psw"><a href="#">password?</a></span><br>
   </div>
 </center>
  </form>
</body>
</html>
